# DB connection String
DATABASE=postgresql://user:pass@localhost:5432/mydb

# Gemini API Key
GEMINI_API_KEY=This-is-my-api-key

# Wordpress website credentials
WP_URL=https://staging.beedier.com/wp-json
WP_USERNAME=myusername
# Wordpress App Password
WP_PASSWORD=my-app-password

# Chromedriver path
CHROMEDRIVER_PATH=/tmp/chromedriver-linux64/chromedriver

# Old dataset
OLD_DATASET=old-db.csv

# Fine Tuning Dataset path
FINE_TUNING_DATASET=generated-fine-tuning-events-dataset.json